<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Planejador Financeiro Pessoal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulação de Empréstimo Bancário</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="emprestimo">
    <ion-item-divider>
      <ion-label>
        <ion-title size="large">Simulação de Empréstimo Bancário</ion-title>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-input type="number" label="Digite o valor do empréstimo" labelPlacement="floating"
        [(ngModel)]="valorEmprestimo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Digite o número de meses" labelPlacement="floating"
        [(ngModel)]="NumMeses"></ion-input>
    </ion-item>

    <ion-item>
      <ion-range labelPlacement="stacked" label="Selecione a porcentagem (em %) de Juros Mensal" [min]="0" [max]="100"
        aria-label="Range with pin" [pin]="true" [(ngModel)]="porcentagemJurosAnual"
        (ionChange)="selecionarJuros($event)"></ion-range>
    </ion-item>

    <ion-alert trigger="abrirAlertJuros" header="Aviso"
      message="A taxa mensal é maior de 20%. O empréstimo pode ser perigoso! Tome cuidado"
      [buttons]="alertButtons"></ion-alert>
    <ion-button id="abrirAlertJuros"></ion-button>

    <ion-toolbar>
      <ion-label><span>Valor das parcelas:</span> {{valorParcela}}</ion-label>
      <br>
    </ion-toolbar>
  </div>


</ion-content>